header {
  height: auto;
  padding: 2% 5%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
nav a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  text-align: center;
  color: rgba(6, 18, 36, 0.9);
  text-decoration: none;
}
nav .marks-nav-links {
  display: flex;
  gap: 36px;
}
nav .dropdown {
  background-color: transparent;
  border: none;
}

.show {
  background-color: none;
}

.dropdown .dropdown-toggle {
  background-color: transparent;
}
.dropdown .btn {
  background-color: white;
}

.nav-buttons {
  display: flex;
  gap: 20px;
}
.nav-buttons button:nth-child(1) {
  border: 1.5px solid #1064e5;
  border-radius: 43px;
  padding: 11px 32px;
  width: 110px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-buttons button:nth-child(1):hover {
  opacity: 0.8;
  cursor: pointer;
}
.nav-buttons button:nth-child(2) {
  border-radius: 45px;
  padding: 11px 32px;
  width: 189px;
  height: 40px;
  background: #1064e5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.nav-buttons button:nth-child(2):hover {
  opacity: 0.8;
  cursor: pointer;
}

.header-menu {
  display: none;
}
.header-menu img {
  display: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0% 5%;
}

.nn {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  padding: 0% 5%;
  gap: 20px;
}
.nn h1 {
  font-weight: 500;
  font-size: 40px;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  padding: 0% 4%;
}
.contacts__info {
  flex: 1 1 50%;
  padding: 20px;
}
.contacts__title {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}
.contacts__description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #555;
}
.contacts__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.contacts__list li {
  font-size: 16px;
  margin-bottom: 10px;
}
.contacts__list li a {
  color: black;
  text-decoration: none;
}
.contacts__list li a:hover {
  text-decoration: underline;
}
.contacts__map {
  flex: 1 1 50%;
  padding: 20px;
  text-align: center;
}
.contacts__map img {
  max-width: 100%;
  border-radius: 8px;
}

.form {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  padding: 5% 5%;
  gap: 20px;
}
.form .form__title h1 {
  font-weight: 500;
  font-size: 40px;
}
.form .form__name {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 15px;
}
.form .form__name input {
  width: 180%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 18px;
  padding: 10px;
  font-size: 16px;
}
.form .form__area {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 15px;
}
.form .form__area textarea {
  width: 130%;
  height: 120px;
  border: 1px solid #ccc;
  border-radius: 18px;
  padding: 10px;
  font-size: 16px;
}
.form .form__btn {
  width: 20%;
  height: 50px;
  border-radius: 40px;
  border: none;
  background-color: #1064e5;
  color: white;
  font-size: 18px;
  cursor: pointer;
  opacity: 0.6;
  margin-top: 2%;
}
.form .form__btn:hover {
  opacity: 1;
}

footer {
  width: 100%;
  background: #061224;
  padding: 50px;
}

.footer {
  display: flex;
  gap: 100px;
  padding: 20px 0;
  justify-content: center;
}
.footer .col-row1 img {
  margin-bottom: 100px;
}
.footer a {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  color: #fff;
}
.footer P {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  color: #fff;
  opacity: 0.4;
}
.footer .col-row2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer .col-row3 div {
  margin-bottom: 100px;
}
.footer .col-row4 address {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #fff;
  opacity: 0.8;
}
.footer .col-row4 a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #fff;
  opacity: 0.8;
}
.footer .col-row4 div {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  header .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 450px;
  }
  header .marks-nav-links {
    display: none;
  }
  header .nav-buttons {
    display: none;
  }
  .header-menu {
    display: flex;
  }
  .header-menu img {
    display: flex;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .contacts iframe {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .container {
    max-width: 400px;
    margin: 0 auto;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
  }
  header .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 260px;
  }
  header .marks-nav-links {
    display: none;
  }
  .form__btn {
    width: 60% !important;
    height: 50px;
    border-radius: 40px;
    border: none;
    background-color: #1064e5;
    color: white;
    font-size: 18px;
    cursor: pointer;
    opacity: 0.6;
    margin-top: 2%;
  }
}
body {
  font-family: "IBM Plex Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 14 0px;
  margin: 0 auto;
}/*# sourceMappingURL=contact.css.map */