@import "../video.style/video-header";



body {
    font-family: 'IBM Plex Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 14 00px;
    margin: 0 auto;
}