header {
  height: auto;
  padding: 2% 5%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
nav a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  text-align: center;
  color: rgba(6, 18, 36, 0.9);
  text-decoration: none;
}
nav .marks-nav-links {
  display: flex;
  gap: 36px;
}
nav .dropdown {
  background-color: transparent;
  border: none;
}

.show {
  background-color: none;
}

.dropdown .dropdown-toggle {
  background-color: transparent;
}
.dropdown .btn {
  background-color: white;
}

.nav-buttons {
  display: flex;
  gap: 20px;
}
.nav-buttons button:nth-child(1) {
  border: 1.5px solid #1064e5;
  border-radius: 43px;
  padding: 11px 32px;
  width: 110px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-buttons button:nth-child(1):hover {
  opacity: 0.8;
  cursor: pointer;
}
.nav-buttons button:nth-child(2) {
  border-radius: 45px;
  padding: 11px 32px;
  width: 189px;
  height: 40px;
  background: #1064e5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.nav-buttons button:nth-child(2):hover {
  opacity: 0.8;
  cursor: pointer;
}

.header-menu {
  display: none;
}
.header-menu img {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.video {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 30px;
  padding: 2% 5%;
}
.video a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: rgb(6, 18, 36);
}
.video h1 {
  font-weight: 500;
  font-size: 40px;
}
.video .video-card {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 8px;
}

.video-img-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0% 5%;
  margin-top: 2%;
}
.video-img-1 img {
  width: 100%;
}

.video-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6%;
  margin-top: 3%;
}
.video-items .item {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
}
.video-items .item b {
  font-weight: 600;
  font-size: 20px;
}
.video-items .item p {
  font-weight: 400;
  font-size: 12px;
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}
.product h1 {
  font-weight: 500;
  font-size: 40px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  margin-top: 4%;
}
.content .content-item {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
}
.content .content-item b {
  font-weight: 600;
  font-size: 18px;
}
.content .content-item p {
  font-weight: 400;
  font-size: 14px;
}
.content .content-item .tt {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 15px;
}
.content .content-item .tt p {
  font-weight: 400;
  font-size: 12px;
  background: rgb(229, 229, 229);
  padding: 5px 10px;
  border-radius: 10px;
}

.subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(216, 241, 240);
  padding: 50px 0px;
  margin-top: 5%;
  gap: 30px;
}
.subscribe h1 {
  font-weight: 500;
  font-size: 40px;
}
.subscribe b {
  font-weight: 400;
  font-size: 18px;
}
.subscribe .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;
}
.subscribe .btn input {
  width: 399px;
  height: 50px;
  border-radius: 37px;
  border: 1px solid rgb(16, 100, 229);
  padding: 20px;
}
.subscribe .btn button {
  width: 178px;
  height: 50px;
  border-radius: 41px;
  background: rgb(16, 100, 229);
  border: none;
  color: white;
  font-size: 18px;
}

footer {
  background: #061224;
  padding: 50px;
}

.footer {
  display: flex;
  gap: 100px;
  padding: 20px 0;
  justify-content: center;
}
.footer .col-row1 img {
  margin-bottom: 100px;
}
.footer a {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  color: #fff;
}
.footer P {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  color: #fff;
  opacity: 0.4;
}
.footer .col-row2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer .col-row3 div {
  margin-bottom: 100px;
}
.footer .col-row4 address {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #fff;
  opacity: 0.8;
}
.footer .col-row4 a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #fff;
  opacity: 0.8;
}
.footer .col-row4 div {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  header .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 450px;
  }
  header .nav-buttons {
    display: none;
  }
  header .marks-nav-links {
    display: none;
  }
  .header-menu {
    display: flex;
  }
  .header-menu img {
    display: flex;
  }
  .video-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px !important;
  }
  .video-items .item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  .video-items .item img {
    width: 80%;
  }
  .video-items .item b {
    font-weight: 600;
    font-size: 20px;
  }
  .video-items .item p {
    font-weight: 400;
    font-size: 16px;
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0% 5%;
    gap: 20px;
  }
  .content .content-item {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  .content .content-item img {
    width: 100%;
  }
  .content .content-item b {
    font-weight: 600;
    font-size: 20px;
  }
  .content .content-item p {
    font-weight: 400;
    font-size: 16px;
  }
  .content :nth-child(3) {
    display: none;
  }
  .subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
    width: 100%;
  }
  .subscribe h1 {
    font-weight: 600;
    font-size: 36px;
  }
  .subscribe p {
    font-weight: 400;
    font-size: 14px;
  }
  .subscribe button {
    font-weight: 600;
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .container {
    max-width: 400px;
    margin: 0 auto;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
  }
  header .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 240px;
  }
  header .marks-nav-links {
    display: none;
  }
  header .nav-buttons {
    display: none;
  }
  .header-menu {
    display: flex;
  }
  .header-menu img {
    display: flex;
  }
  .video-img-1 img {
    width: 90%;
  }
  .video-items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 30px !important;
    flex-direction: column;
  }
  .video-items .item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
  .video-items .item .zz {
    display: flex;
    align-items: start !important;
    justify-content: start !important;
    flex-direction: column;
    gap: 15px;
  }
  .video-items .item img {
    width: 80%;
  }
  .video-items .item b {
    font-weight: 600;
    font-size: 20px;
  }
  .video-items .item p {
    font-weight: 400;
    font-size: 14px;
  }
  .product {
    margin-top: 50px;
  }
  .product h1 {
    font-weight: 500;
    font-size: 30px;
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0% 5%;
    gap: 40px;
    margin-top: 20px;
  }
  .content .content-item {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  .content .content-item img {
    width: 100%;
  }
  .content .content-item b {
    font-weight: 600;
    font-size: 20px;
  }
  .content .content-item p {
    font-weight: 400;
    font-size: 16px;
  }
  .content :nth-child(2) {
    display: none;
  }
  .content :nth-child(3) {
    display: none;
  }
  .subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    width: 100%;
  }
  .subscribe h1 {
    font-weight: 600;
    font-size: 36px;
    text-align: center;
  }
  .subscribe b {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  }
  .subscribe .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
  }
}
body {
  font-family: "IBM Plex Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 14 0px;
  margin: 0 auto;
}/*# sourceMappingURL=video.css.map */