header {
  height: auto;
  padding: 2% 5%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
nav a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  text-align: center;
  color: rgba(6, 18, 36, 0.9);
  text-decoration: none;
}
nav .marks-nav-links {
  display: flex;
  gap: 36px;
}
nav .dropdown {
  background-color: transparent;
  border: none;
}

.show {
  background-color: none;
}

.dropdown .dropdown-toggle {
  background-color: transparent;
}
.dropdown .btn {
  background-color: white;
}

.nav-buttons {
  display: flex;
  gap: 20px;
}
.nav-buttons button:nth-child(1) {
  border: 1.5px solid #1064e5;
  border-radius: 43px;
  padding: 11px 32px;
  width: 110px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-buttons button:nth-child(1):hover {
  opacity: 0.8;
  cursor: pointer;
}
.nav-buttons button:nth-child(2) {
  border-radius: 45px;
  padding: 11px 32px;
  width: 189px;
  height: 40px;
  background: #1064e5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.nav-buttons button:nth-child(2):hover {
  opacity: 0.8;
  cursor: pointer;
}

.header-menu {
  display: none;
}
.header-menu img {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.faq-title {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 30px;
  padding: 0% 5%;
  margin-top: 2%;
  margin-bottom: 5%;
}
.faq-title h1 {
  font-weight: 500;
  font-size: 40px;
}
.faq-title p {
  font-weight: 400;
  color: #061224;
  font-size: 12px;
}
.faq-title h2 {
  font-weight: 600;
  font-size: 24px;
}

.accordion {
  max-width: 700px;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
  padding: 0% 5%;
}
.accordion .accordion-item .accordion-header {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}
.accordion .accordion-item .accordion-header .icon {
  margin-right: 10px;
  font-size: 25px;
  color: #007bff;
  transition: transform 0.3s ease;
}
.accordion .accordion-item .accordion-header:hover {
  background-color: #f9f9f9;
}
.accordion .accordion-item .accordion-body {
  font-size: 14px;
  color: #666;
  padding: 10px;
  display: none;
  background-color: #f8f8f8;
}
.accordion .accordion-item.open .accordion-header .icon {
  transform: rotate(45deg);
  content: "-";
}
.accordion .accordion-item.open .accordion-body {
  display: block;
}

.content {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 35px;
  padding: 0% 5%;
  margin-top: 2%;
}
.content .card {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 20px;
}
.content .card .card-text {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.content .card .card-text h2 {
  font-weight: 600;
  font-size: 24px;
}
.content .card .card-text p {
  font-weight: 400;
  font-size: 24px;
  color: #007bff;
}
.content .card .card-number {
  display: flex;
  align-items: start;
  justify-content: start;
}
.content .card .card-number p {
  font-weight: 400;
  font-size: 18px;
  color: #061224;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background: #D8F1F0;
  padding: 5%;
  margin-top: 3%;
}
.section .section-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.section .section-text h1 {
  font-weight: 500;
  font-size: 40px;
}
.section .section-text p {
  font-weight: 400;
  font-size: 16px;
  color: #061224;
}

.form__name {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 15px;
  margin-right: 13%;
}
.form__name input {
  width: 160%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 18px;
  padding: 10px;
  font-size: 16px;
}

.form__area {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
  margin-right: 5%;
}
.form__area textarea {
  width: 110%;
  height: 120px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
}

.form__btn {
  width: 50%;
  height: 50px;
  border-radius: 40px;
  border: none;
  background-color: #1064e5;
  color: white;
  font-size: 18px;
  cursor: pointer;
  opacity: 0.6;
  margin-top: 2%;
}
.form__btn:hover {
  opacity: 1;
}

.btn {
  width: 20%;
  height: 50px;
  border-radius: 40px;
  border: none;
  background-color: #1064e5;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-top: 2%;
}
.btn:hover {
  opacity: 0.6;
}

footer {
  background: #061224;
  padding: 50px;
}

.footer {
  display: flex;
  gap: 100px;
  padding: 20px 0;
  justify-content: center;
}
.footer .col-row1 img {
  margin-bottom: 100px;
}
.footer a {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  color: #fff;
}
.footer P {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  color: #fff;
  opacity: 0.4;
}
.footer .col-row2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer .col-row3 div {
  margin-bottom: 100px;
}
.footer .col-row4 address {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #fff;
  opacity: 0.8;
}
.footer .col-row4 a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #fff;
  opacity: 0.8;
}
.footer .col-row4 div {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  header .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 510px;
  }
  header .marks-nav-links {
    display: none;
  }
  header .nav-buttons {
    display: none;
  }
  .header-menu {
    display: flex;
  }
  .header-menu img {
    display: flex;
  }
  .form__area {
    margin-left: 5%;
  }
}
@media (max-width: 500px) {
  .container {
    max-width: 400px;
    margin: 0 auto;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
  }
  header .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 470px;
  }
  header .marks-nav-links {
    display: none;
  }
  header .nav-buttons {
    display: none;
  }
  .header-menu {
    display: flex;
  }
  .header-menu img {
    display: flex;
  }
  .section-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }
  .section-text h1 {
    font-weight: 500;
    font-size: 30px;
    text-align: center;
  }
  .section-text p {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
  }
  .form__name {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
  }
  .form__name input {
    width: 150%;
    height: 40px;
  }
  .btn {
    width: 50%;
  }
}
body {
  font-family: "IBM Plex Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}/*# sourceMappingURL=faq.css.map */