@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
header {
  background-color: #deeefc;
  height: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
nav a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  text-align: center;
  color: rgba(6, 18, 36, 0.9);
}
nav .marks-nav-links {
  display: flex;
  gap: 36px;
}
nav .dropdown {
  background-color: transparent;
  border: none;
}

.show {
  background-color: none;
}

.dropdown .dropdown-toggle {
  background-color: transparent;
}
.dropdown .btn {
  background-color: white;
}

.nav-buttons {
  display: flex;
  gap: 20px;
}
.nav-buttons button:nth-child(1) {
  border: 1.5px solid #1064e5;
  border-radius: 43px;
  padding: 11px 32px;
  width: 110px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-buttons button:nth-child(2) {
  border-radius: 45px;
  padding: 11px 32px;
  width: 189px;
  height: 40px;
  background: #1064e5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.carousel-inner {
  width: 100%;
  height: auto;
}

.pages-in-carusel {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pages-in-carusel .heder-sec-text {
  display: flex;
  margin-top: 50px;
}
.pages-in-carusel .heder-sec-text ._text {
  width: 40%;
}
.pages-in-carusel .heder-sec-text ._text h1 {
  font-family: var(--font3);
  font-weight: 500;
  font-size: 40px;
  line-height: 114%;
  color: rgba(6, 18, 36, 0.9);
}
.pages-in-carusel .heder-sec-text ._text h5 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: rgba(6, 18, 36, 0.9);
}
.pages-in-carusel .heder-sec-text .heder-sec-text-items-counter {
  display: flex;
}
.pages-in-carusel .heder-sec-text .bro {
  width: 70%;
}

.header-text-btn {
  border-radius: 45px;
  padding: 17px 32px;
  width: 300px;
  height: 56px;
  background: #1064e5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border: none;
  margin-top: 30px;
}

.textning {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: rgba(6, 18, 36, 0.9);
}

.heder-sec-text-items-counter {
  display: flex;
  gap: 4px;
  align-items: center;
}
.heder-sec-text-items-counter .middle-line {
  height: 1.5px;
  width: 40px;
  background-color: #1064e5;
}
.heder-sec-text-items-counter p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #061224;
}

#plus-sec {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
}
#plus-sec .plus {
  display: flex;
  gap: 30px;
  align-items: center;
}
#plus-sec .plus h5 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 271%;
  color: rgba(6, 18, 36, 0.9);
}
#plus-sec .plus p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: rgba(6, 18, 36, 0.9);
  width: 75%;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 14 0px;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */