nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;


    .marks-nav-links {
        display: flex;

        gap: 36px;

    }

}

.show {
    background-color: none;
}

.dropdown {
    .dropdown-toggle {
        background-color: transparent;
    }

    .btn {
        background-color: white;
    }

}